body{
    margin: 0;
    background-color: white;
    font-family: 'Montserrat';
}
nav{
    position: fixed;
    top: 0;
    color: black;
    background-color: white;
}
ul{
    height: 100%;
}

li a{
    margin: auto;
    color: black !important;
    height: 100%;
}
img{
    display: block;
    height: 100%;
    width: auto;
    float: left;
    margin: 0;
    padding: 0;
}
#section-home{
    height: 100vh;
    padding: 0;
}
#section-timeline{
    height: 100vh;
    background-color: white;
    /* background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-image: url('../assets/images/4Z2A0349.JPG');
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */
}
#timeline-holder{
    height: 70vh;
    background-color: #222222;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
}
#image-holder{
    height: 100%;
    display: inline-flex;
}
.name-holder{
    height: calc(100% - 20vh);
}
.name-full{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    user-select: none;
}
.name{
    text-align: center;
    width: 100vw;
    font-style: italic;
    animation: 1.2s linear forwards alternate 1 name-glitch;
    color: white;
    letter-spacing: 10px;
    font-size: 50px;
}
#name-1{
    animation-delay: 0.5s;
}
@media (min-width: 420px) {
    .name{
        letter-spacing: 10px;
        font-size: 70px;
    }
}
@media (min-width: 600px) {
    .name{
        letter-spacing: 10px;
        font-size: 90px;
    }
}
@media (min-width: 768px) {
    .name{
        letter-spacing: 20px;
        font-size: 110px;
    }
}
@media (min-width: 992px) {
    .name{
        letter-spacing: 30px;
        font-size: 130px;
    }
}
@media (min-width: 1200px) {
    .name{
        letter-spacing: 20px;
        font-size: 160px;
    }
}
@keyframes name-glitch{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
        color: #EFEFEF;
        text-shadow: 0px 0 0 rgb(200, 200, 200);
    }
    100%{
        color: white;
        text-shadow: 1vw -2px 0 rgb(220, 220, 220), -2px 1px 0 rgb(180, 180, 180);
    }
}
@keyframes name-full-up{
    from{

    }to{
        
    }
}